.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 20px rgb(0, 110, 255);
    font-family: 'Kaushan Script', cursive;
}
.heading_div{
    float:none;
    background-color: whitesmoke;
    padding: 10px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-image: url("family2.jpg");
}
.heading_div2{
    border-radius: 10px;
    font-size: 18px ;
}
.result_para_tag{
    box-shadow: 5px 5px 5px rgb(0, 132, 255);
    font-size:20px;
    font-family: 'Kaushan Script', cursive;
}
.copyright_footer1{
    position: fixed;
    color: royalblue;
    bottom: 0;
    width: 100%;
    background-color: plum;
    line-height: 3;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

canvas{
    border: 5px dashed whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px plum;
    margin-top: 350px;
    margin-bottom: 60px;
}